/* Add CSS Styling */
.odd{
    background-color: rgb(229, 141, 156);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

.third{
    font-size: 24px;
}

#second{
    color: rgb(5, 70, 140);
    font-size: 36px;
}

#fourth{
    background-color: rgb(15, 193, 15);
    font-size: 24px;
    font-weight: bold;
}